.blink_me {
  animation: blinker 1s linear;
}

.blink_me_again {
  animation: blinker2 1s linear;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker2 {
  50% {
    opacity: 0;
  }
}
